<div class="max-w-sm bg-white rounded-lg shadow flex flex-col">
    {# <img src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109?f=y" class="card-img-top" alt="..."> #}
    {% if product and product.image %}
        {# <img src="{{ products ~ product.image }}" class="card-img-top" alt="..."> #}
        <img src="{{ asset('uploads/products/' ~ product.image) }}" class="rounded-t-lg w-full" alt="...">
    {% else %}
        <img src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109?f=y" class="rounded-t-lg w-full" alt="...">
    {% endif %}
    <div class="p-5 flex flex-col gap-1 grow justify-start">

        <div class="mb-2">
            <h5 class="text-2xl font-bold tracking-tight text-gray-900 ">{{ product.name }}</h5>
            <div class="card-text">{{ product.description }}</div>
        </div>

        <div>
            <p class="font-bold">Purchase</p>
            {% if product.dateBought and product.priceBought%}
                <div>{{ product.dateBought|date("F j, Y") }} - &euro;{{ product.priceBought }}</div>
            {% endif %}
        </div>
        
        <div>
            <p class="font-bold">Current State</p>
            {% for state in product.state|slice(0, 1) %}
                <div>{{ state.state.state }}, {{ state.description }}</div>
            {% endfor %}
        </div>

        <div>
            <p class="font-bold">Category</p>
            {{ include('category/_category_list.html.twig', {categories: product.category})}}
        </div>
        <a class="btn-primary mt-auto" href="{{ path('app_product_edit', {product: product.id}) }}">Edit</a>
    </div>
</div>