<div class="max-w-sm bg-white rounded-lg shadow flex flex-col">
    <div class="relative w-full">
        {% for image in product.image %}
            {% if product and image %}
                <img src="{{ asset('uploads/products/' ~ image.path) }}" class="rounded-t-lg absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            {% else %}
                <img src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109?f=y" class="rounded-t-lg w-full" alt="...">
            {% endif %}
        {% endfor %}
    </div>
    <div class="p-5 flex flex-col gap-1 grow justify-start">

        <div class="mb-2">
            <h5 class="text-2xl font-bold tracking-tight text-gray-900 ">{{ product.name }}</h5>
            <div class="card-text">{{ product.description }}</div>
        </div>

        <div>
            <p class="font-bold">Purchase</p>
            {% if product.dateBought and product.priceBought%}
                <div>{{ product.dateBought|date("F j, Y") }} - &euro;{{ product.priceBought }}</div>
            {% endif %}
        </div>
        
        <div>
            <p class="font-bold">Current State</p>
            {% for state in product.state|slice(0, 1) %}
                <div>{{ state.state.state }}, {{ state.description }}</div>
            {% endfor %}
        </div>

        <div>
            <p class="font-bold">Category</p>
            {{ include('category/_category_list.html.twig', {categories: product.category})}}
        </div>
        <a class="btn-primary mt-auto" href="{{ path('app_product_edit', {product: product.id}) }}">Edit</a>
    </div>
</div>